/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.card {
  @apply md:w-3/12 flex flex-col items-center text-center bg-gray-100 px-5 py-10 space-y-4 rounded-2xl m-5 p-2;
}

.blog-card {
  @apply md:w-3/12 m-3 md:m-4 shadow-lg rounded-2xl cursor-pointer transform hover:scale-100 md:hover:scale-95 transition duration-300 ease-in-out;
}

.team-card {
  @apply flex flex-col items-center md:w-2/12 m-3 md:m-7 shadow-lg py-2;
}

.tag {
  @apply absolute -top-3 rounded-full px-5 py-1 bg-white text-xs text-indigo-500 uppercase;
}

.tag2 {
  @apply absolute -top-3 rounded-full px-5 py-1 text-xs uppercase;
}

.card-image {
  @apply w-full h-full object-cover object-center;
}

.center {
  @apply flex flex-wrap items-center justify-center flex-col md:flex-row;
}

.list {
  @apply bg-indigo-500 rounded-full h-5 w-5 flex items-center justify-center;
}

.signin {
  @apply rounded-full px-3 py-2 bg-indigo-500 text-white hover:bg-indigo-700 transition duration-300;
}
